.productsTray-wrapper{
    box-sizing: border-box;
    width: 100%;
    display: block;
    padding: 2rem;
}
.categoryTitle{
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    padding-bottom: 2rem;
    justify-content: center;
}
.card_wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 10px;
}