@font-face {
    font-family: a;
    src: url(../../Assets/Font/Montserrat-Black.ttf);
}
@font-face {
    font-family: b;
    src: url(../../Assets/Font/Montserrat-Bold.ttf);
}
@font-face {
    font-family: c;
    src: url(../../Assets/Font/Montserrat-ExtraBold.ttf);
}

.productsTray-wrapper{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    overflow: hidden;
    height: 100%;
}

.more{
    font-weight: 900;
    font-size: 1.4rem;
    line-height: 4rem;
    float: right;
}
.card_container{
    /* overflow: hidden; */
    height: 100%;
}