.productsTray-wrapper{
    box-sizing: border-box;
    width: 100%;
    display: block;
    padding: 2rem;
}
.categoryTitle{
    display: flex;
    padding-bottom: 2rem;
    justify-content: center;
}