.PerspectiveBanner {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  flex-direction: column;
  /* background: linear-gradient(to left, rgba(0, 0, 0, 0.301) 30%, white,white); */
  padding: 0 5rem;
}
.PerspectiveBanner-left {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transform: translateY(-30px)
}
.PerspectiveBanner-right{
  width: 100%;
  display: grid;
  place-items: center;
}
.asd {
  /* perspective-origin: 50% 120%;
  perspective: 700px; */
}
.paintings {
  transform: rotate(347deg);
  max-width: max-content;
  object-fit: fill;
  cursor: pointer;
  border-radius: 10px;
}
.PerspectiveBanner-left label {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
  font-size: 3rem;
  font-weight: 800;
  width: 80%;
}
.PerspectiveBanner-left p {
  font-size: 1.2rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
}
.shopnow-button {
  clip-path: polygon(0% 0%, 100% 0%, 100% 130%, 0 130%);
  font-size: 1.2em;
  padding: 1rem 3rem;
  font-weight: 600;
  background: var(--brandGradient);
  /* background: linear-gradient(45deg, rgb(255, 124, 48), rgb(255, 154, 39)); */
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transform: translateY(1rem);
  position: relative;
}
.PerspectiveBanner-left:hover .shopnow-button,
.PerspectiveBanner-left:hover.PerspectiveBanner-left label {
  /* transform: scale(1.05) translateY(-2rem); */
}
