#avatar {
    position: relative;
}

.imageUpdateBtn {
    border: none;
    border-radius: 50px;
    background: var(--brand);
    width: 35px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.imageUpdateBtn:hover {
    filter: brightness(1.1);
}

.MuiAccordion-root {
    box-shadow: none !important;
}

.MuiAccordionSummary-gutters {
    padding: 0 !important;
}

#accordion_style {
    display: grid;
    width: 100%;
    grid-template-columns: 25% auto auto;
    align-items: center;
    min-height: 35px;
}

.accordionDetails_style {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 40px
}
#AddNewAddress{
    height: 0;
    opacity: 0;
    pointer-events: none;
    padding-bottom: 1rem;
}
.expand{
    height: 100% !important;
    opacity: 1 !important;
    pointer-events: all !important;
}
.shrink{
    height: 0 !important;
    opacity: 0 !important;
    pointer-events: none !important;
}