.checkout__product--wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    padding: 1.5rem 1rem ;
}
.checkout__product {
    box-sizing: border-box;
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 100px 1fr;
    gap: 1.5rem;
}

.checkout__product:last-child {
    border-bottom: none;
}
.checkout__product img {
    display: flex;
    max-width: 100px;
    max-height: 100px;
    margin: auto;
}
.checkout__product--details {
    display: flex;
    flex-direction: column;
}