.dashboard-wrapper >*{
    box-sizing: border-box;
}
.dashboard-wrapper{
    width: 100%;
    position: relative;
    display: block;
}
#dashboard {
  width: 100%;
  padding: 1.5rem;
  padding-top: 0;
}
.dashboard-items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 10px;
}
.rows {
  display: flex;
  gap: 10px;
}
.rows div {
    position: relative;
  width: 100%;
  aspect-ratio: 1.8;
  max-height: 100px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.144);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
}
.rows label {
  position: relative;
  color: var(--brand);
  font-size: 1.5em;
}
.rows h6 {
  margin: 0;
}
.icon *{
  color: var(--brand);
}
.icon {
    font-size: 2em;
}
.order-pending::before,
.order-cancel::before,
.order-return::before,
.todays_income::before {
    font-size: 0.75em;
    line-height: 20px;
}
.order-pending::before {
    content: 'ORDER PENDING';
}
.order-cancel::before {
    content: 'ORDER CANCELL';
}
.order-return::before {
    content: 'ORDER RETURN';
}
.todays_income::before {
    content: 'TODAYS INCOME';
}
.icon{
    position: absolute;
    right: 30px;
}
.recentOrders{
    display: flex;
    margin: 2rem 0 1rem 1rem;
    color: rgb(59, 59, 59);
    font-size: 1.2em;
}
.dashboard-wrapper table{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.185);
    border-radius: 5px;
    border-spacing: 0;
}
#dashboard thead{
    height: 30px;
    font-size: 0.8em;
}
#dashboard tbody *{
    font-weight: 500;
    font-size: 1em;
}
#dashboard th{
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(233, 233, 233);
    line-height: 20px;
    text-transform: uppercase;
    font-size: 0.9em;
}
#dashboard th:first-child,
#dashboard th:last-child{
    padding: 0 1rem;
    height: 3rem;
}
#dashboard td:first-child,
#dashboard td:last-child{
    padding: 1rem 1rem;
}
#dashboard td,th{
    /* max-width: 90px; */
    overflow: hidden;
}
#dashboard td{
    text-align: center;
    font-size: 0.85em;
    font-weight: 600;
    line-height: 25px;
    color: rgb(70, 70, 70);
}
#dashboard td #status{
    /* margin: 0 auto; */
}

.dashboard-wrapper tr:nth-child(even){
    background: rgba(233, 233, 233, 0.726);
}
#dashboard td:first-child,
#dashboard th:first-child{
    text-align: left;
}
#dashboard td:last-child,
#dashboard th:last-child{
    width: 80px;
}
.action{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.action *{
    font-size: 1.2em;
}

@media only screen and (max-width: 425px) {
    #dashboard {
        padding: 10px;
      }
}


#select >*{
    background: #000;
}

