#categories_wrapper{
    
}
#categories{
    display: flex;
    position: sticky;
    top: 70px;
    gap: 5px;
    padding: 10px 10px;
    overflow-x: scroll;
    background: rgb(255, 255, 255);
}
#categories::-webkit-scrollbar{
    display: none;
}
#categories span{
    min-width: 100px;
    height: 35px;
    background: rgb(204, 204, 204);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
#category_type{
    /* text-align: center; */
    margin: 2em 0 1em 1em;
}
#category_type label{
    /* font-family: var(--subTitle); */
    font-size: 1.2rem;
    font-weight: 800;
    /* color: white;
    -webkit-text-stroke: 1px black; */
}
#products {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 10px;
    overflow: scroll;
}
#products::-webkit-scrollbar{
    display: none;
}
#products div{
    width: calc((100% - 10px) / 2);
    height: 230px;
    background: rgb(204, 204, 204);
    border-radius: 5px;
}
