
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.imageTray{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(80px,1fr));
  gap: 1rem;
}
.imageTray img{
  width: 100%;
  aspect-ratio: 1;
  background-size: cover;
}
