
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.MuiFormHelperText-root{
  position:absolute;
  top: 18px;
  right: 0;
  pointer-events: none;
}

