:root {
    --main: rgb(53, 53, 53);
}

.productContainer {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    align-items: flex-start;
    padding: 0 4rem 2rem 4rem;
}

.productContainer .left {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 5rem;
    gap: 1.5rem;
}



#productImage {
    display: block;
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
    background-size: contain;
    margin-inline: auto;
}

.cartAndWishlist {
    display: flex;
    /* flex-direction: column; */
    gap: 0.5rem;
}

.canvas-dimension-CW-wrapper {
    display: flex;
    width: 60%;
    align-items: center;
    gap: 2rem;
    /* justify-content: space-between; */
}

.productContainer .right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: -10px;
}

.product_info {
    display: grid;
    gap: 10px;
}

.shipping_info {
    display: grid;
    gap: 10px;
    margin: 1rem 0 2rem 0;
}

.product_info_items {
    display: flex;
    gap: 10px
}

.productContainer table {
    max-width: 350px;
    border-spacing: 0 15px;
}

.product_btns {
    width: 100%;
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    flex-wrap: wrap;
    gap: 10px;
}

#productTitle {
    color: black;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: capitalize;
}

#bull {
    font-size: 20px;
    translate: 0 -2px;
    color: grey;
}

.ratingAndReview {
    display: flex;
    align-items: center;
    gap: 20px;
}

#reviews {
    text-decoration: underline;
    color: var(--brand);
}

#productPrice {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--main);
}

#buyItem {
    display: flex;
    align-items: center;
    gap: 2em;
}

.recently_viewed {
    font-size: 1.5rem;
    font-weight: 800;
    padding-left: 2rem;
}