.navbar{
    box-sizing: border-box;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 2rem;
    background: rgb(255, 255, 255);
    z-index: 100;
    transition: 0.18s;
    box-shadow: 0 0px 15px 5px var(--shadow);
}
.navbar a:any-link{
    color: #33364d;
}
.navbar .left{
    display: flex;
    align-items: center;
}
.logo{
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_brandName{
    font-weight: 800;
}
.logo img{
    border-radius: 50%;
}
.catagory{
    padding-left: 2rem;
    position: relative;
    font-size: 0.8em;
}
.catagory::after{
    content: url(../../Assets/Icons/arrow-down.svg);
    position: absolute;
    width: 11px;
    aspect-ratio: 1;
    right: -20px;
    top: 2px;
    opacity: 0.7;
}
#search{
    /* transform: translateY(2px); */
    cursor: pointer;
}
.searchbox_wrapper{
    display: flex;
    align-items: center;
}
#searchbox{
    /* margin: auto; */
    width: 6px;
    transform: scale(0);
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.534);
    padding: 4px 10px;
    margin-right: 5px;
    border-radius: 25px;
}
.searchbox--expand{
    animation: expand 0.3s forwards;
}
.searchbox--shrink{
    animation: shrink 0.3s forwards;
}
@keyframes shrink{
    0%{
        transform: scale(1);
        width: 200px;
    }
    50%{
        width: 6px;
        transform: scale(1);
    }
    100%{
        width: 6px;
        transform: scale(0);
    }
}
@keyframes expand{
    0%{
        width: 6px;
        transform: scale(0);
    }
    50%{
        width: 6px;
        transform: scale(1);
    }
    100%{
        transform: scale(1);
        width: 200px;
    }
}
.navbar .right{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 0.8em;
}
.shop,
.marketplace,
.create,
.login{
    position: relative;
}
.marketplace,
.create{
    word-wrap: normal;
}
.login{
    border: none;
    background: none;
    border-left: 1px solid rgb(107, 107, 107);
    line-height: 20px;
    padding: 0.5rem 0 0.5rem 1.5rem;
}
.shop::after,
.marketplace::after,
.create::after{
    content: '';
    position: absolute;
    background-size: contain;
    top: 0px;
    left: 0rem;
    width: 15px;
    aspect-ratio: 1;
    object-fit: contain;
}
.marketplace::after{
    top: -2px;
    width: 20px;
    opacity: 0.7;
}
.logo:hover.logo label,
.catagory:hover,
.shop:hover,
.marketplace:hover,
.create:hover,
.login:hover{
    color: var(--brand);
    cursor: pointer;
}

