#search_wrapper {
    display: flex;
    align-items: center;
    z-index: 101;
}

#searchbox_wrapper {
    box-sizing: border-box;
    /* border-radius: 25px; */
    /* background: #00000014; */
    padding: 6px 8px;
    /* margin-right: 5px; */
    display: flex;
    align-items: center;
}

#searchbox {
    width: 280px;
    outline: none;
    border: none;
    background: none;
    font-weight: 500;
    font-size: 0.9rem;
    /* padding: 0 5px; */
}