@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root{
    --brand: #1a7ffd;
    --shadow: #bbcded;
    --overlay : rgba(0, 0, 0, 0.932);
    /* --brand: #2994ff; */
    --brandGradient: linear-gradient(30deg, #aa23ff,#2081ff);
    --Title: 'Oswald', sans-serif;
    --subTitle : 'Montserrat';
}

body{
    margin: 0;
    padding: 0 !important;
    overflow: visible !important;
    /* cursor:url(./Assets/Icons/brush.png),auto; */
    color: #33364d;
    /* text-shadow: 0 0 1px rgba(0, 0, 0, 0.438); */
    
}
/* #root >*{
    position: absolute;
    inset: 0;
    display: flex;
    flex-wrap: wrap;
} */
*{
    font-family: var(--subTitle);
    font-weight: 600;
    text-decoration: none;
    /* color: #202020; */
}
::selection{
    background: rgba(0, 0, 0, 0.103);
    color:hsl(0, 0%, 24%);
}

.button_text {
    /* clip-path: polygon(0% 0%, 130% 0%, 130% 130%, 0 130%); */
    font-size: 1em;
    padding: 1rem 2rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    transition: 0.2s;
}
.button_primary {
    font-size: 1em;
    padding: 1rem 2rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 5px 5px 15px 5px var(--shadow);
    white-space: nowrap;
}
.button_secondary {
    font-size: 1em;
    padding: 1rem 2rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background: black;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    white-space: nowrap;
    /* box-shadow: 5px 5px 15px 5px var(--shadow); */
}
.MuiRating-root *{
    color: unset;
}
.productsTray-wrapper .swiper,
.Banner .swiper{
    padding-bottom: 5px !important;
    height: 100%;
}
.productsTray-wrapper .swiper >*,
.Banner .swiper >*{
    box-sizing: border-box !important;
}
.productsTray-wrapper .swiper .swiper-slide,
.Banner .swiper .swiper-slide {
    width: auto !important;
    height: 100%;
}
a:hover{
    color: var(--brand) !important;
}

/* //////scrollbar////// */

::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-thumb {
    background: var(--brand); 
}

