@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* html,
body,
#root {
    min-height: 100%;
} */

:root {
    /* --brand: hsl(246, 87%, 58%); */
    /* --brand: #4622fe; */
    --BH: 253;
    --BS: 100%;

    /* -----brand----- */
    --brand: hsl(var(--BH), var(--BS), 60%);
    --brandDark: hsl(var(--BH), var(--BS), 55%);
    --brandLight50: hsl(var(--BH), var(--BS), 95%);
    --brandLight100: hsl(var(--BH), var(--BS), 90%);
    --brandLight200: hsl(var(--BH), var(--BS), 0%);
    --brandMain: #33364d;
    /* --------------- */

    --shadow: #b5d0ff;
    /* --overlay: rgba(0, 0, 0, 0.836); */
    --overlay: #5e47f9b3;
    --brandGradient: linear-gradient(30deg, #aa23ff, #2081ff);
    --Title: 'Oswald', sans-serif;
    --subTitle: 'Montserrat';
    --neu: #dde1e7;
    --header: 70px;
    --shade: #eff3f8;
    --fullHeight: calc(100vh - var(--header));
}

body {
    margin: 0;
    padding: 0 !important;
    overflow: visible !important;
    /* cursor:url(./Assets/Icons/brush.png),auto; */
    color: #33364d;
    /* text-shadow: 0 0 1px rgba(0, 0, 0, 0.438); */
}

/* #root >*{
    position: absolute;
    inset: 0;
    display: flex;
    flex-wrap: wrap;
} */

* {
    font-family: var(--subTitle);
    font-weight: 600;
    text-decoration: none;
    /* color: #202020; */
}

::selection {
    background: rgba(0, 0, 0, 0.103);
    color: hsl(0, 0%, 24%);
}

a {
    color: #33364d;
}

a:hover {
    color: var(--brand) !important;
}

.button_text {
    /* clip-path: polygon(0% 0%, 130% 0%, 130% 130%, 0 130%); */
    font-size: 1em;
    padding: 1rem 2rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.button_primary {
    font-size: 1em;
    padding: 1rem 2rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 5px 5px 15px 5px var(--shadow);
    white-space: nowrap;
}

.button_secondary {
    font-size: 1em;
    padding: 1rem 2rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background: var(--brand);
    border: none;
    cursor: pointer;
    transition: 0.2s;
    white-space: nowrap;
    /* box-shadow: 5px 5px 15px 5px var(--shadow); */
}

.MuiRating-root * {
    color: unset;
}

.MuiFormHelperText-root {
    position: absolute;
    bottom: -20px;
    pointer-events: none;
}

.productsTray-wrapper .swiper {
    padding-bottom: 5px !important;
    height: 100%;
}

.productsTray-wrapper .swiper>* {
    box-sizing: border-box !important;
}

.productsTray-wrapper .swiper .swiper-slide {
    width: auto !important;
    height: 100%;
}

/* //////scrollbar////// */

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: var(--brand);
}


@media only screen and (max-width: 1024px) {
    :root {
        font-size: 14px;
    }
}

@media only screen and (max-width: 425px) {
    :root {
        font-size: 14px;
    }

    .button_primary {
        box-shadow: 5px 5px 10px 0px var(--shadow);
    }
}