@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* @font-face{
    src: url(./Assets/Font/Roboto-Medium.ttf);
    font-family: Roboto;
} */

:root{
    --brand: rgb(255, 126, 21);
}
body{
    margin: 0;
    padding: 0;
    /* cursor:url(./Assets/Icons/brush.png),auto; */
}
/* #root >*{
    position: absolute;
    inset: 0;
    display: flex;
    flex-wrap: wrap;
} */
*{
    font-family: Montserrat;
    font-weight: 600;
    text-decoration: none;
}
::selection{
    background: rgba(0, 0, 0, 0.185);
    color:hsl(0, 0%, 77%);
}
