#message{
    border-radius: 20px;
    padding: 10px 15px;
    display: grid;
    place-items: center;

}
.send{
    background: var(--brand);
    color: white;
    box-shadow: -1px 1px 10px rgb(0 0 0 / 23%) ;
    /* border-bottom-right-radius: 0 !important; */
}
.receive{
    /* border-bottom-left-radius: 0 !important; */
    background: rgba(0, 0, 0, 0.116);
    color: black;
    /* box-shadow: 1px 1px 10px rgb(0 0 0 / 23%) ; */
}