.brandName {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
  font-size: 5rem;
  white-space: nowrap;
  font-family: var(--Title);
  line-height: 90px;
  letter-spacing: 8px;
}


.p1,
.p2 {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
  white-space: nowrap;
  font-weight: 600;
  line-height: 1.6;
  font-family: inherit;
  font-size: 1.1rem;
  color: hsl(0deg 0% 13.53%);
}

.p2{
  font-family: serif;
  color: blueviolet;
}

@media only screen and (max-width: 425px) {
  .brandName {
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
  }

  .p1 {
    width: 100%;
    font-size: 2.5rem;
    /* margin: 1rem 0; */
    text-align: center;
  }

}

.swiper {
  overflow: visible !important;
}