.brandName {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
  font-size: 9rem;
  font-family: Bebas Neue;
  line-height: 140px;
  width: 400px;
  font-weight: 100;
}

.p1 {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
  width: 90%;
  font-family: 'Josefin Sans';
  font-size: 1.4rem;
  margin: 1rem 0;
  color: #9f9f9f;
}

.banner_card--wrapper {
  transform: translateY(-1em);
  height: 400px;
}

@media only screen and (max-width: 1024px) {
  .banner_card--wrapper {
    height: 350px;
  }

}

@media only screen and (max-width: 425px) {
  .brandName {
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
  }

  .p1 {
    width: 100%;
    font-size: 2.5rem;
    /* margin: 1rem 0; */
    text-align: center;
  }

  .banner_card--wrapper {
    height: 250px;
  }

 
}

.swiper {
  overflow: visible !important;
}