.brandName {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
  font-size: 9rem;
  font-family: var(--Title);
  line-height: 140px;
  font-weight: 100;
}


.p1,
.p2 {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
  font-family: var(--Sub);
  font-size: 1.4rem;
  font-weight: 600;
  margin: 1rem 0;
  color: #9f9f9f;
}

.p2{
  font-family: serif;
  color: blueviolet;
}

@media only screen and (max-width: 425px) {
  .brandName {
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
  }

  .p1 {
    width: 100%;
    font-size: 2.5rem;
    /* margin: 1rem 0; */
    text-align: center;
  }

}

.swiper {
  overflow: visible !important;
}